*,html{
    padding:0;
    margin:0;
}
body{
    width: 100%;
    height:100dvh;
    background-image: url('wallpaper.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family:sans-serif;
    color: white;
}
h1, h2, h3 {
    font-family: 'Playfair Display', serif;
  }

  p {
    font-family: 'Lora', serif;
  }
.navbar{
    padding:1.4rem 7%;
    background-color: #000;
    position:fixed;
    top:0;
    left:0;
    right:0;
    

}
@keyframes nav {
    from{
        transform: translateX(-100px);
        opacity: 0
    }
    to{
        transform: translateX(100px);
        opacity: 1;
    }
}
.navbar a{
    font-size:1.4rem;
    animation: nav 2s ease-in-out forwards;
    width: max-content;
    height: max-content;
    font-family: 'Playfair Display', serif;
}
.content{
    width:100%;
    height: 100%;
}
.main-content{
    width: 100%;
    height: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}
.isi-kontent{
    width: 20rem;
    height: 60vh;
    margin:3rem 3rem 1rem 3rem;
    background-color: pink;
    border-radius:20px;
    display: none;
    overflow-y: scroll;
    padding:1.5rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
    animation: boxkontent 2.5s ease-in-out;
color: black;

}
@keyframes boxkontent{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
.isi-kontent p{
    margin-top: 1rem;
}
.isi-kontent::-webkit-scrollbar{
    display:none;
}
.box-fungsi{
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 20rem;
    height: 3rem;
    animation: boxkontent 2.5s ease-in-out;
    
    
}
.progress{
    font-size:1.2rem;
    font-weight: bold;
}
.btn-reply{
    
    padding: 0.5rem 4rem;
    border: none;
    background-color: pink;
    border-radius: 5px;
    pointer-events: none;
    transition: 0.3s ease;
    text-decoration: none;
    opacity: 0.4;
    color:black;
    font-size:1.2rem;
    font-weight: bold;
    
}
.btn-reply.active{
    opacity: 1;
    pointer-events: auto;
}

.surat{
    width: 22rem;
    background-color: white;
    height:15rem;
    border-radius: 10px;
    overflow: hidden;
    display: block;
    margin-bottom: 1rem;
    animation: boxkontent 3s ease-in-out;
    
}
.icon-surat{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 5rem;
    animation: heartme 1s ease-in-out infinite;
    transform-origin: center;

}
.node{
    gap: 0.5rem;
    opacity: 0.5;
    animation: boxkontent 3.3s ease-in-out;
}
.lagu{
    width:4rem;
    height:4rem;
    background-color:rgb(30, 30, 30);
    display: flex;
    justify-content: center;
    align-items:center;
    position:fixed;
    bottom:2%;
    left:2%;
    border-radius:100%;
}
.main-lagu{
    
    width: 4rem;
    height: 4rem;
    
    }
    .dvd{
      animation: spin 3s linear infinite;
    }


  @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }

@keyframes heartme{
    0%{
        transform: scale(1);
    }
     25%{
         transform: scale(1.2);
    }
     50%{
         transform: scale(1);
    } 75%{
        transform: scale(1.2);
    }
     100%{
         transform: scale(1);
    }
}
@media (max-width: 1440px){
    html{
        font-size:112.5%;
    }
}
@media (max-width: 1024px){
    html{
        font-size:106.25%;
    }
}
@media (max-width: 768px){
    html{
        font-size:100%;
    }
}
@media (max-width: 600px){
    html{
        font-size:93.75%;
    }
}
@media (max-width: 425px){
    html{
        font-size:87.5%;
    }
}
@media (max-width: 320px){
    html{
        font-size:81.25%;
    }
}
